<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="emit" :style="{fontSize: postFontSize + 'em'}">
        <blog v-for="blog in blogs" :blog="blog" @large-text="postFontSize += 0.1"></blog>
        <P>{{postFontSize}}</P>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    Vue.component('blog', {
        props: ['blog'],
        template: `<div class="blog">
                <h1>{{blog.title}}</h1>
                <p>{{blog.content}}</p>
                <button @click="$emit('large-text')">点击放大</button>
            </div>`
    })
    var vm = new Vue({
        el: '#emit',
        data() {
            return {
                blogs: [{
                    title: '你好！',
                    content: '啦啦啦 啦啦啦！',
                }, {
                    title: '再见！',
                    content: '啦啦啦 啦啦啦！',
                }],
                postFontSize: 1
            }
        },
    })
</script>

</html>