<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    .lesson-style{
        color:indigo;
    }
</style>
<body>
    <div id="isAttr">
        <table>
            <!-- is属性解决下面的问题 -->
            <tr is="lesson-item">
                <lesson-item v-for="lesson in lessons" :lesson="lesson"  :key="lesson.id">{{lesson}}</lesson-item>
            </tr>
        </table>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    // 有些 HTML 元素，诸如 <ul>、<ol>、<table> 和 <select>，对于哪些元素可以出现在其内部是有严格限制的。而有些元素，诸如 <li>、<tr> 和 <option>，只能出现在其它某些特定的元素内部。
    // 这会导致我们使用这些有约束条件的元素时遇到一些问题。
    // 字符串 (例如：template: '...')   单文件组件 (.vue)   <script type="text/x-template">不存在限制
    Vue.component('lesson-item', {
        props: ['lesson'],
        template: `<div class="lesson-style">
                <h2>{{lesson.title}}</h2>
                <p>{{lesson.content}}</p>
            </div>`
    })
    var vm = new Vue({
        el: '#isAttr',
        data() {
            return {
                lessons: [
                    {
                        id: 1,
                        title: '数学课！',
                        content: '高等数学'
                    },{
                        id: 2,
                        title: '语文课！！',
                        content: '写作基础'
                    },{
                        id: 3,
                        title: '英语课！！！',
                        content: '翻译'
                    }
                ]
            }
        },
    })
</script>

</html>