<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="slot">
        <alert-box>错了!!!</alert-box>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    // slot--->预留位置插入内容
    Vue.component('alert-box', {
        props: ['message'],
        template:  `<div class="demo-alert-box">
            <strong>Error!</strong>
            <slot></slot>
        </div>`
    })
    var vm = new Vue({
        el: '#slot',
        data() {
            return {
                key: ''
            }
        },
    })
</script>
</html>