<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">

    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    //局部声明组件
    var CompontentA = {

    }
    //组件嵌套
    var CompontentB = {
        components: {
            'component-a': CompontentA
        }
    }
    var vm = new Vue({
        el: '#app',
        data() {
            return {
                key: ''
            }
        },
        //局部声明组件
        components: {
            'component-b': CompontentB
        }
    })
</script>

</html>